<%- include('../../partials/header', { title: 'My music' }); %>
<hr>
<br>
<div class="container">
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>My Favorite Music</h2>
    </div>
    <br> <br> <br>
    <div class="row animate-box" style="background-image: url(/public/gif/music.gif);">
        <% listMusic.forEach(item => { %>
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h4>
                <%= item.name %>
            </h4>
            <audio controls>
                <source src="/public/music/<%= item.id %>.mp3" type="audio/mpeg">
            </audio>
            <h6>Singer:
                <%= item.singer%>
            </h6>
        </div>
        <% }); %>
    </div>
</div>

<br><hr><br>

<%- include('../../partials/footer'); %>
<style>
    #fh5co-blog {
        display: none;
    }
</style>