<%- include('../../partials/header.ejs')%>

<div class="container">
    <hr><br>
    <form action="/company/thongtincongty" method="POST" id="formAction">
        <input list="cities" id="city" class="info" placeholder="Choose the city" name="city" value="<%= header.city %>">
        <datalist id="cities">
            <option value="ho-chi-minh">TP.Hồ Chí Minh</option>
            <option value="ben-tre">Bến Tre</option>
            <option value="long-an">Long An</option>
            <option value="dong-nai">Đồng Nai</option>
        </datalist>
        <input list="districts" id="district" class="info" placeholder="Choose the district" name="district" value="<%= header.district %>">
        <datalist id="districts">
            <option value="quan-1">Quận 1</option>
            <option value="quan-2">Quận 2</option>
            <option value="quan-3">Quận 3</option>
            <option value="quan-4">Quận 4</option>
        </datalist>
        <input type="number" name="startPage" class="page" placeholder="Start page..." name="startPage" value="<%= header.startPage %>">
        <input type="number" name="endPage" class="page" placeholder="End page..." name="endPage" value="<%= header.endPage %>">
        <input type="submit" value="GET" id="submit">
    </form> <br>
    <% if (data && data.message) { %>
    <p id="message" class="text-center">
        <%= data.message %>
    </p>
    <% } %>
    <hr>
    <% if(data && !data.message && header) { %>
    <div id="data">
        <div class="container panel panel-body panel-default">
            <h3 class="text-center">
                City: <%= header.city %>,
                District: <%= header.district %>,
                Start Page: <%= header.startPage %>,
                End Page: <%= header.endPage %>
            </h3>
            <hr>
            <% data.forEach(result => { %>
            <div class="row">
                <div class="companyDetail">
                    <span>Tên công ty:
                        <%= result.name %> </span><br>
                    <span>Địa chỉ:
                        <%= result.address %> </span><br>
                    <span>Người đại diện:
                        <%= result.master %></span> <br>
                    <span>Số điện thoại:
                        <%= result.phoneNumber %></span> <br>
                    <span>Ngành Nghề:
                        <%= result.field%></span>
                </div>
            </div>
            <br> <br>
            <% }); %>
        </div>
    </div>
    <% } else { %>
    <div class="no-data">
        <img src="http://chittagongit.com/images/no-data-icon/no-data-icon-20.jpg" alt="">
        <h4 class="text-center">No data company</h4>
    </div>
    <% } %>
</div>
<script src="/reload/reload.js"></script>
<script>
    setTimeout(() => {
        document.getElementById('message').style.display = 'none';
    }, 5000);
</script>

<%- include('../../partials/footer.ejs')%>

<style>
    datalist {
        display: none;
    }

    #fh5co-blog {
        display: none;
    }

    #fh5co-started {
        display: none;

    }

    #formAction {
        margin-left: 10%;
    }

    #formAction input[type=text] {
        margin-left: 20px;
    }

    .no-data h4 {
        color: red;
        margin-top: 2%;
        margin-bottom: 5%;
        font-style: italic;
        font-size: 15px;
    }

    .no-data img {
        width: 60px;
        height: 60px;
        margin-left: 47%;
        margin-top: 7px;
    }

    .info {
        border: 1px gray solid;
        background-position: 5px 5px;
        border-radius: 4px;
        width: 250px;
    }

    .page {
        border: 1px gray solid;
        background-position: 5px 5px;
        border-radius: 4px;
        width: 120px;
    }

    #submit {
        width: 80px;
        border: 2px gray solid;
        background: #317ae1;
        color: white;
        border-radius: 5px;
    }

    #message {
        color: red;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }

    .companyDetail {
        margin-left: 15%;
    }

    #data h3 {
        color: #317ae1;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-transform: uppercase;
        
    }
</style>